--
-- PostgreSQL database dump
--

-- Dumped from database version 17.5
-- Dumped by pg_dump version 17.5

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: accounts_candidateprofile; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.accounts_candidateprofile (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    education character varying(200) NOT NULL,
    expected_salary integer NOT NULL,
    experience integer NOT NULL,
    is_deleted boolean NOT NULL,
    skills text NOT NULL,
    resume character varying(100)
);


ALTER TABLE public.accounts_candidateprofile OWNER TO postgres;

--
-- Name: accounts_candidateprofile_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.accounts_candidateprofile ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.accounts_candidateprofile_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: accounts_employerprofile; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.accounts_employerprofile (
    id bigint NOT NULL,
    company_name character varying(200) NOT NULL,
    user_id bigint NOT NULL,
    company_size integer NOT NULL,
    domain character varying(100) NOT NULL,
    is_deleted boolean NOT NULL,
    is_verified boolean NOT NULL
);


ALTER TABLE public.accounts_employerprofile OWNER TO postgres;

--
-- Name: accounts_employerprofile_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.accounts_employerprofile ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.accounts_employerprofile_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: accounts_resume; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.accounts_resume (
    id bigint NOT NULL,
    file character varying(100) NOT NULL,
    uploaded_at timestamp with time zone NOT NULL,
    extracted_text text,
    user_id bigint NOT NULL
);


ALTER TABLE public.accounts_resume OWNER TO postgres;

--
-- Name: accounts_resume_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.accounts_resume ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.accounts_resume_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: accounts_user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.accounts_user (
    id bigint NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL,
    email character varying(254) NOT NULL,
    phone character varying(15),
    role character varying(20) NOT NULL,
    is_verified boolean NOT NULL,
    is_approved boolean NOT NULL,
    is_blocked boolean NOT NULL,
    is_flagged boolean NOT NULL
);


ALTER TABLE public.accounts_user OWNER TO postgres;

--
-- Name: accounts_user_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.accounts_user_groups (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.accounts_user_groups OWNER TO postgres;

--
-- Name: accounts_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.accounts_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.accounts_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: accounts_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.accounts_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.accounts_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: accounts_user_user_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.accounts_user_user_permissions (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.accounts_user_user_permissions OWNER TO postgres;

--
-- Name: accounts_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.accounts_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.accounts_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO postgres;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO postgres;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO postgres;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id bigint NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO postgres;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO postgres;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO postgres;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO postgres;

--
-- Name: jobs_aianswer; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.jobs_aianswer (
    id bigint NOT NULL,
    answer_text text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    question_id bigint NOT NULL
);


ALTER TABLE public.jobs_aianswer OWNER TO postgres;

--
-- Name: jobs_aianswer_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.jobs_aianswer ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.jobs_aianswer_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: jobs_aicall; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.jobs_aicall (
    id bigint NOT NULL,
    status character varying(20) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    candidate_id bigint NOT NULL,
    job_id bigint NOT NULL
);


ALTER TABLE public.jobs_aicall OWNER TO postgres;

--
-- Name: jobs_aicall_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.jobs_aicall ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.jobs_aicall_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: jobs_aiinterviewsession; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.jobs_aiinterviewsession (
    id bigint NOT NULL,
    status character varying(50) NOT NULL,
    started_at timestamp with time zone NOT NULL,
    ended_at timestamp with time zone,
    candidate_id bigint NOT NULL,
    job_id bigint NOT NULL
);


ALTER TABLE public.jobs_aiinterviewsession OWNER TO postgres;

--
-- Name: jobs_aiinterviewsession_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.jobs_aiinterviewsession ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.jobs_aiinterviewsession_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: jobs_aiquestion; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.jobs_aiquestion (
    id bigint NOT NULL,
    question_text text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    session_id bigint NOT NULL
);


ALTER TABLE public.jobs_aiquestion OWNER TO postgres;

--
-- Name: jobs_aiquestion_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.jobs_aiquestion ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.jobs_aiquestion_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: jobs_application; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.jobs_application (
    id bigint NOT NULL,
    status character varying(20) NOT NULL,
    applied_date timestamp with time zone NOT NULL,
    candidate_id bigint NOT NULL,
    job_id bigint NOT NULL
);


ALTER TABLE public.jobs_application OWNER TO postgres;

--
-- Name: jobs_application_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.jobs_application ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.jobs_application_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: jobs_atsscore; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.jobs_atsscore (
    id bigint NOT NULL,
    score double precision NOT NULL,
    candidate_id bigint NOT NULL,
    job_id bigint NOT NULL,
    status character varying(50) NOT NULL
);


ALTER TABLE public.jobs_atsscore OWNER TO postgres;

--
-- Name: jobs_atsscore_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.jobs_atsscore ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.jobs_atsscore_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: jobs_auditlog; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.jobs_auditlog (
    id bigint NOT NULL,
    action character varying(50) NOT NULL,
    description text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    admin_id bigint NOT NULL,
    target_user_id bigint
);


ALTER TABLE public.jobs_auditlog OWNER TO postgres;

--
-- Name: jobs_auditlog_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.jobs_auditlog ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.jobs_auditlog_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: jobs_availabilityslot; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.jobs_availabilityslot (
    id bigint NOT NULL,
    date date NOT NULL,
    start_time time without time zone NOT NULL,
    end_time time without time zone NOT NULL,
    is_booked boolean NOT NULL,
    employer_id bigint NOT NULL
);


ALTER TABLE public.jobs_availabilityslot OWNER TO postgres;

--
-- Name: jobs_availabilityslot_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.jobs_availabilityslot ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.jobs_availabilityslot_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: jobs_calllog; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.jobs_calllog (
    id bigint NOT NULL,
    reason character varying(255) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    candidate_id bigint NOT NULL,
    job_id bigint NOT NULL,
    triggered_by_id bigint
);


ALTER TABLE public.jobs_calllog OWNER TO postgres;

--
-- Name: jobs_calllog_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.jobs_calllog ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.jobs_calllog_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: jobs_evaluationresult; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.jobs_evaluationresult (
    id bigint NOT NULL,
    score double precision NOT NULL,
    remarks text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    answer_id bigint NOT NULL
);


ALTER TABLE public.jobs_evaluationresult OWNER TO postgres;

--
-- Name: jobs_evaluationresult_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.jobs_evaluationresult ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.jobs_evaluationresult_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: jobs_financialauditlog; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.jobs_financialauditlog (
    id bigint NOT NULL,
    event character varying(255) NOT NULL,
    details text NOT NULL,
    created_at timestamp with time zone NOT NULL
);


ALTER TABLE public.jobs_financialauditlog OWNER TO postgres;

--
-- Name: jobs_financialauditlog_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.jobs_financialauditlog ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.jobs_financialauditlog_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: jobs_interviewanswer; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.jobs_interviewanswer (
    id bigint NOT NULL,
    question text NOT NULL,
    answer text NOT NULL,
    confidence double precision NOT NULL,
    ai_notes text,
    created_at timestamp with time zone NOT NULL,
    candidate_id bigint NOT NULL
);


ALTER TABLE public.jobs_interviewanswer OWNER TO postgres;

--
-- Name: jobs_interviewanswer_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.jobs_interviewanswer ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.jobs_interviewanswer_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: jobs_interviewschedule; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.jobs_interviewschedule (
    id bigint NOT NULL,
    interview_date date NOT NULL,
    interview_time time without time zone NOT NULL,
    status character varying(50) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    candidate_id bigint NOT NULL,
    job_id bigint NOT NULL
);


ALTER TABLE public.jobs_interviewschedule OWNER TO postgres;

--
-- Name: jobs_interviewschedule_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.jobs_interviewschedule ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.jobs_interviewschedule_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: jobs_interviewstate; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.jobs_interviewstate (
    id bigint NOT NULL,
    current_question_index integer NOT NULL,
    session_id bigint NOT NULL
);


ALTER TABLE public.jobs_interviewstate OWNER TO postgres;

--
-- Name: jobs_interviewstate_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.jobs_interviewstate ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.jobs_interviewstate_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: jobs_job; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.jobs_job (
    id bigint NOT NULL,
    title character varying(255) NOT NULL,
    description text NOT NULL,
    company character varying(255) NOT NULL,
    skills character varying(255) NOT NULL,
    location character varying(255) NOT NULL,
    salary integer NOT NULL,
    experience integer NOT NULL,
    job_type character varying(20) NOT NULL,
    is_active boolean NOT NULL,
    is_featured boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    employer_id bigint NOT NULL
);


ALTER TABLE public.jobs_job OWNER TO postgres;

--
-- Name: jobs_job_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.jobs_job ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.jobs_job_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: jobs_jobquestion; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.jobs_jobquestion (
    id bigint NOT NULL,
    job_id bigint NOT NULL,
    question_id bigint NOT NULL
);


ALTER TABLE public.jobs_jobquestion OWNER TO postgres;

--
-- Name: jobs_jobquestion_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.jobs_jobquestion ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.jobs_jobquestion_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: jobs_notificationlog; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.jobs_notificationlog (
    id bigint NOT NULL,
    subject character varying(255) NOT NULL,
    message text NOT NULL,
    status character varying(50) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.jobs_notificationlog OWNER TO postgres;

--
-- Name: jobs_notificationlog_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.jobs_notificationlog ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.jobs_notificationlog_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: jobs_paymenttransaction; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.jobs_paymenttransaction (
    id bigint NOT NULL,
    amount numeric(10,2) NOT NULL,
    transaction_id character varying(255) NOT NULL,
    payment_gateway character varying(50) NOT NULL,
    status character varying(20) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.jobs_paymenttransaction OWNER TO postgres;

--
-- Name: jobs_paymenttransaction_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.jobs_paymenttransaction ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.jobs_paymenttransaction_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: jobs_questiontemplate; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.jobs_questiontemplate (
    id bigint NOT NULL,
    question_text text NOT NULL,
    category character varying(50) NOT NULL
);


ALTER TABLE public.jobs_questiontemplate OWNER TO postgres;

--
-- Name: jobs_questiontemplate_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.jobs_questiontemplate ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.jobs_questiontemplate_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: jobs_refundlog; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.jobs_refundlog (
    id bigint NOT NULL,
    refund_amount numeric(10,2) NOT NULL,
    reason text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    transaction_id bigint NOT NULL
);


ALTER TABLE public.jobs_refundlog OWNER TO postgres;

--
-- Name: jobs_refundlog_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.jobs_refundlog ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.jobs_refundlog_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: jobs_reminderlog; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.jobs_reminderlog (
    id bigint NOT NULL,
    reminder_type character varying(50) NOT NULL,
    status character varying(50) NOT NULL,
    sent_at timestamp with time zone NOT NULL,
    schedule_id bigint NOT NULL
);


ALTER TABLE public.jobs_reminderlog OWNER TO postgres;

--
-- Name: jobs_reminderlog_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.jobs_reminderlog ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.jobs_reminderlog_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: jobs_savedjob; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.jobs_savedjob (
    id bigint NOT NULL,
    saved_at timestamp with time zone NOT NULL,
    candidate_id bigint NOT NULL,
    job_id bigint NOT NULL
);


ALTER TABLE public.jobs_savedjob OWNER TO postgres;

--
-- Name: jobs_savedjob_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.jobs_savedjob ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.jobs_savedjob_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: jobs_subscription; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.jobs_subscription (
    id bigint NOT NULL,
    plan_name character varying(20) NOT NULL,
    start_date date NOT NULL,
    end_date date NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.jobs_subscription OWNER TO postgres;

--
-- Name: jobs_subscription_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.jobs_subscription ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.jobs_subscription_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: payments_payment; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.payments_payment (
    id bigint NOT NULL,
    order_id character varying(200) NOT NULL,
    payment_id character varying(200),
    amount integer NOT NULL,
    status character varying(50) NOT NULL,
    created_at timestamp with time zone NOT NULL
);


ALTER TABLE public.payments_payment OWNER TO postgres;

--
-- Name: payments_payment_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.payments_payment ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.payments_payment_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: subscriptions_billinghistory; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.subscriptions_billinghistory (
    id bigint NOT NULL,
    invoice_number character varying(100) NOT NULL,
    generated_at timestamp with time zone NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.subscriptions_billinghistory OWNER TO postgres;

--
-- Name: subscriptions_billinghistory_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.subscriptions_billinghistory ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.subscriptions_billinghistory_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: subscriptions_paymenttransaction; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.subscriptions_paymenttransaction (
    id bigint NOT NULL,
    amount numeric(10,2) NOT NULL,
    payment_id character varying(100) NOT NULL,
    status character varying(20) NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.subscriptions_paymenttransaction OWNER TO postgres;

--
-- Name: subscriptions_paymenttransaction_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.subscriptions_paymenttransaction ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.subscriptions_paymenttransaction_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: subscriptions_subscriptionplan; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.subscriptions_subscriptionplan (
    id bigint NOT NULL,
    name character varying(50) NOT NULL,
    price numeric(10,2) NOT NULL,
    duration_days integer NOT NULL
);


ALTER TABLE public.subscriptions_subscriptionplan OWNER TO postgres;

--
-- Name: subscriptions_subscriptionplan_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.subscriptions_subscriptionplan ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.subscriptions_subscriptionplan_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: subscriptions_usersubscription; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.subscriptions_usersubscription (
    id bigint NOT NULL,
    start_date date NOT NULL,
    end_date date NOT NULL,
    is_active boolean NOT NULL,
    plan_id bigint NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.subscriptions_usersubscription OWNER TO postgres;

--
-- Name: subscriptions_usersubscription_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.subscriptions_usersubscription ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.subscriptions_usersubscription_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: accounts_candidateprofile; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.accounts_candidateprofile (id, user_id, education, expected_salary, experience, is_deleted, skills, resume) FROM stdin;
2	6		0	0	f		
3	7		0	0	f		
4	14		0	0	f		
5	15		0	0	f		
6	16		0	0	f		
1	5	MCA	650000	2	f	Flutter, Firebase	
7	13	B.Tech IT	500000	1	f	Java, Spring Boot	
8	17		0	0	f		
12	21		0	0	f		
9	18	B.Tech	700000	2	f	Python, Django, PostgreSQL	
11	20	B.Tech Computer Science	550000	2	f	React,python, JavaScript, CSS	
10	19	B.Tech Computer Science	650000	1	f	React, JavaScript, CSS	resumes/SAHALA-V-Resume-20260224_1.pdf
\.


--
-- Data for Name: accounts_employerprofile; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.accounts_employerprofile (id, company_name, user_id, company_size, domain, is_deleted, is_verified) FROM stdin;
1		2	1		f	f
2		13	1		f	f
\.


--
-- Data for Name: accounts_resume; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: accounts_user; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: accounts_user_groups; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.accounts_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: accounts_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.accounts_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_admin_log (id, action_time, object_id, object_repr, action_flag, change_message, content_type_id, user_id) FROM stdin;
\.


--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_session (session_key, session_data, expire_date) FROM stdin;
c1f9ejf7st1vkgnxaqb4kmq59y2cxief	.eJxVjDEOgzAMAP_iuYoIccAwdu8bIjtOCm1FJAJT1b9XSAztene6NwTetynsNa1hVhjBwuWXCcdnWg6hD17uxcSybOss5kjMaau5FU2v69n-DSauE4yAOVoiL9Y5ytT0gp3T1ilb9siYk3hPStIMtldJcfAWpXWshF2TtYPPF9kDN9A:1wetSX:fL5yM8yfjPNKZteUL-VHh5GT9VOTtoJCP2X65WC90tA	2026-07-15 17:20:29.570126+05:30
\.


--
-- Data for Name: jobs_aianswer; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.jobs_aianswer (id, answer_text, created_at, question_id) FROM stdin;
\.


--
-- Data for Name: jobs_aicall; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.jobs_aicall (id, status, created_at, candidate_id, job_id) FROM stdin;
\.


--
-- Data for Name: jobs_aiinterviewsession; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.jobs_aiinterviewsession (id, status, started_at, ended_at, candidate_id, job_id) FROM stdin;
\.


--
-- Data for Name: jobs_aiquestion; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.jobs_aiquestion (id, question_text, created_at, session_id) FROM stdin;
\.


--
-- Data for Name: jobs_application; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.jobs_application (id, status, applied_date, candidate_id, job_id) FROM stdin;
1	selected	2026-07-03 13:20:31.841781+05:30	18	6
2	shortlisted	2026-07-03 13:42:36.493444+05:30	19	6
3	rejected	2026-07-03 13:47:13.244084+05:30	20	6
\.


--
-- Data for Name: jobs_atsscore; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.jobs_atsscore (id, score, candidate_id, job_id, status) FROM stdin;
\.


--
-- Data for Name: jobs_auditlog; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.jobs_auditlog (id, action, description, created_at, admin_id, target_user_id) FROM stdin;
\.


--
-- Data for Name: jobs_availabilityslot; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.jobs_availabilityslot (id, date, start_time, end_time, is_booked, employer_id) FROM stdin;
\.


--
-- Data for Name: jobs_calllog; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.jobs_calllog (id, reason, created_at, candidate_id, job_id, triggered_by_id) FROM stdin;
\.


--
-- Data for Name: jobs_evaluationresult; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.jobs_evaluationresult (id, score, remarks, created_at, answer_id) FROM stdin;
\.


--
-- Data for Name: jobs_financialauditlog; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.jobs_financialauditlog (id, event, details, created_at) FROM stdin;
\.


--
-- Data for Name: jobs_interviewanswer; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.jobs_interviewanswer (id, question, answer, confidence, ai_notes, created_at, candidate_id) FROM stdin;
\.


--
-- Data for Name: jobs_interviewschedule; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.jobs_interviewschedule (id, interview_date, interview_time, status, created_at, candidate_id, job_id) FROM stdin;
\.


--
-- Data for Name: jobs_interviewstate; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.jobs_interviewstate (id, current_question_index, session_id) FROM stdin;
\.


--
-- Data for Name: jobs_job; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: jobs_jobquestion; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.jobs_jobquestion (id, job_id, question_id) FROM stdin;
\.


--
-- Data for Name: jobs_notificationlog; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.jobs_notificationlog (id, subject, message, status, created_at, user_id) FROM stdin;
\.


--
-- Data for Name: jobs_paymenttransaction; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.jobs_paymenttransaction (id, amount, transaction_id, payment_gateway, status, created_at, user_id) FROM stdin;
\.


--
-- Data for Name: jobs_questiontemplate; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.jobs_questiontemplate (id, question_text, category) FROM stdin;
\.


--
-- Data for Name: jobs_refundlog; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.jobs_refundlog (id, refund_amount, reason, created_at, transaction_id) FROM stdin;
\.


--
-- Data for Name: jobs_reminderlog; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.jobs_reminderlog (id, reminder_type, status, sent_at, schedule_id) FROM stdin;
\.


--
-- Data for Name: jobs_savedjob; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.jobs_savedjob (id, saved_at, candidate_id, job_id) FROM stdin;
\.


--
-- Data for Name: jobs_subscription; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.jobs_subscription (id, plan_name, start_date, end_date, is_active, created_at, user_id) FROM stdin;
1	PREMIUM	2026-07-03	2026-08-02	t	2026-07-03 13:04:17.24322+05:30	13
\.


--
-- Data for Name: payments_payment; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.payments_payment (id, order_id, payment_id, amount, status, created_at) FROM stdin;
\.


--
-- Data for Name: subscriptions_billinghistory; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.subscriptions_billinghistory (id, invoice_number, generated_at, user_id) FROM stdin;
\.


--
-- Data for Name: subscriptions_paymenttransaction; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.subscriptions_paymenttransaction (id, amount, payment_id, status, user_id) FROM stdin;
\.


--
-- Data for Name: subscriptions_subscriptionplan; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.subscriptions_subscriptionplan (id, name, price, duration_days) FROM stdin;
1	Free	0.00	30
2	Premium	999.00	30
3	Enterprise	4999.00	365
\.


--
-- Data for Name: subscriptions_usersubscription; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.subscriptions_usersubscription (id, start_date, end_date, is_active, plan_id, user_id) FROM stdin;
\.


--
-- Name: accounts_candidateprofile_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.accounts_candidateprofile_id_seq', 12, true);


--
-- Name: accounts_employerprofile_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.accounts_employerprofile_id_seq', 2, true);


--
-- Name: accounts_resume_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.accounts_resume_id_seq', 3, true);


--
-- Name: accounts_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.accounts_user_groups_id_seq', 1, false);


--
-- Name: accounts_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.accounts_user_id_seq', 21, true);


--
-- Name: accounts_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.accounts_user_user_permissions_id_seq', 1, false);


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 148, true);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 1, false);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 37, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 49, true);


--
-- Name: jobs_aianswer_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.jobs_aianswer_id_seq', 1, false);


--
-- Name: jobs_aicall_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.jobs_aicall_id_seq', 1, false);


--
-- Name: jobs_aiinterviewsession_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.jobs_aiinterviewsession_id_seq', 1, false);


--
-- Name: jobs_aiquestion_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.jobs_aiquestion_id_seq', 1, false);


--
-- Name: jobs_application_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.jobs_application_id_seq', 3, true);


--
-- Name: jobs_atsscore_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.jobs_atsscore_id_seq', 1, false);


--
-- Name: jobs_auditlog_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.jobs_auditlog_id_seq', 1, false);


--
-- Name: jobs_availabilityslot_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.jobs_availabilityslot_id_seq', 1, false);


--
-- Name: jobs_calllog_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.jobs_calllog_id_seq', 1, false);


--
-- Name: jobs_evaluationresult_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.jobs_evaluationresult_id_seq', 1, false);


--
-- Name: jobs_financialauditlog_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.jobs_financialauditlog_id_seq', 1, false);


--
-- Name: jobs_interviewanswer_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.jobs_interviewanswer_id_seq', 1, false);


--
-- Name: jobs_interviewschedule_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.jobs_interviewschedule_id_seq', 1, false);


--
-- Name: jobs_interviewstate_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.jobs_interviewstate_id_seq', 1, false);


--
-- Name: jobs_job_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.jobs_job_id_seq', 6, true);


--
-- Name: jobs_jobquestion_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.jobs_jobquestion_id_seq', 1, false);


--
-- Name: jobs_notificationlog_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.jobs_notificationlog_id_seq', 1, false);


--
-- Name: jobs_paymenttransaction_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.jobs_paymenttransaction_id_seq', 1, false);


--
-- Name: jobs_questiontemplate_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.jobs_questiontemplate_id_seq', 1, false);


--
-- Name: jobs_refundlog_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.jobs_refundlog_id_seq', 1, false);


--
-- Name: jobs_reminderlog_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.jobs_reminderlog_id_seq', 1, false);


--
-- Name: jobs_savedjob_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.jobs_savedjob_id_seq', 1, false);


--
-- Name: jobs_subscription_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.jobs_subscription_id_seq', 1, true);


--
-- Name: payments_payment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.payments_payment_id_seq', 1, false);


--
-- Name: subscriptions_billinghistory_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.subscriptions_billinghistory_id_seq', 1, false);


--
-- Name: subscriptions_paymenttransaction_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.subscriptions_paymenttransaction_id_seq', 1, false);


--
-- Name: subscriptions_subscriptionplan_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.subscriptions_subscriptionplan_id_seq', 3, true);


--
-- Name: subscriptions_usersubscription_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.subscriptions_usersubscription_id_seq', 1, false);


--
-- Name: accounts_candidateprofile accounts_candidateprofile_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts_candidateprofile
    ADD CONSTRAINT accounts_candidateprofile_pkey PRIMARY KEY (id);


--
-- Name: accounts_candidateprofile accounts_candidateprofile_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts_candidateprofile
    ADD CONSTRAINT accounts_candidateprofile_user_id_key UNIQUE (user_id);


--
-- Name: accounts_employerprofile accounts_employerprofile_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts_employerprofile
    ADD CONSTRAINT accounts_employerprofile_pkey PRIMARY KEY (id);


--
-- Name: accounts_employerprofile accounts_employerprofile_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts_employerprofile
    ADD CONSTRAINT accounts_employerprofile_user_id_key UNIQUE (user_id);


--
-- Name: accounts_resume accounts_resume_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts_resume
    ADD CONSTRAINT accounts_resume_pkey PRIMARY KEY (id);


--
-- Name: accounts_user accounts_user_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts_user
    ADD CONSTRAINT accounts_user_email_key UNIQUE (email);


--
-- Name: accounts_user_groups accounts_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts_user_groups
    ADD CONSTRAINT accounts_user_groups_pkey PRIMARY KEY (id);


--
-- Name: accounts_user_groups accounts_user_groups_user_id_group_id_59c0b32f_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts_user_groups
    ADD CONSTRAINT accounts_user_groups_user_id_group_id_59c0b32f_uniq UNIQUE (user_id, group_id);


--
-- Name: accounts_user accounts_user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts_user
    ADD CONSTRAINT accounts_user_pkey PRIMARY KEY (id);


--
-- Name: accounts_user_user_permissions accounts_user_user_permi_user_id_permission_id_2ab516c2_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts_user_user_permissions
    ADD CONSTRAINT accounts_user_user_permi_user_id_permission_id_2ab516c2_uniq UNIQUE (user_id, permission_id);


--
-- Name: accounts_user_user_permissions accounts_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts_user_user_permissions
    ADD CONSTRAINT accounts_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: jobs_aianswer jobs_aianswer_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jobs_aianswer
    ADD CONSTRAINT jobs_aianswer_pkey PRIMARY KEY (id);


--
-- Name: jobs_aicall jobs_aicall_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jobs_aicall
    ADD CONSTRAINT jobs_aicall_pkey PRIMARY KEY (id);


--
-- Name: jobs_aiinterviewsession jobs_aiinterviewsession_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jobs_aiinterviewsession
    ADD CONSTRAINT jobs_aiinterviewsession_pkey PRIMARY KEY (id);


--
-- Name: jobs_aiquestion jobs_aiquestion_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jobs_aiquestion
    ADD CONSTRAINT jobs_aiquestion_pkey PRIMARY KEY (id);


--
-- Name: jobs_application jobs_application_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jobs_application
    ADD CONSTRAINT jobs_application_pkey PRIMARY KEY (id);


--
-- Name: jobs_atsscore jobs_atsscore_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jobs_atsscore
    ADD CONSTRAINT jobs_atsscore_pkey PRIMARY KEY (id);


--
-- Name: jobs_auditlog jobs_auditlog_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jobs_auditlog
    ADD CONSTRAINT jobs_auditlog_pkey PRIMARY KEY (id);


--
-- Name: jobs_availabilityslot jobs_availabilityslot_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jobs_availabilityslot
    ADD CONSTRAINT jobs_availabilityslot_pkey PRIMARY KEY (id);


--
-- Name: jobs_calllog jobs_calllog_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jobs_calllog
    ADD CONSTRAINT jobs_calllog_pkey PRIMARY KEY (id);


--
-- Name: jobs_evaluationresult jobs_evaluationresult_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jobs_evaluationresult
    ADD CONSTRAINT jobs_evaluationresult_pkey PRIMARY KEY (id);


--
-- Name: jobs_financialauditlog jobs_financialauditlog_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jobs_financialauditlog
    ADD CONSTRAINT jobs_financialauditlog_pkey PRIMARY KEY (id);


--
-- Name: jobs_interviewanswer jobs_interviewanswer_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jobs_interviewanswer
    ADD CONSTRAINT jobs_interviewanswer_pkey PRIMARY KEY (id);


--
-- Name: jobs_interviewschedule jobs_interviewschedule_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jobs_interviewschedule
    ADD CONSTRAINT jobs_interviewschedule_pkey PRIMARY KEY (id);


--
-- Name: jobs_interviewstate jobs_interviewstate_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jobs_interviewstate
    ADD CONSTRAINT jobs_interviewstate_pkey PRIMARY KEY (id);


--
-- Name: jobs_job jobs_job_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jobs_job
    ADD CONSTRAINT jobs_job_pkey PRIMARY KEY (id);


--
-- Name: jobs_jobquestion jobs_jobquestion_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jobs_jobquestion
    ADD CONSTRAINT jobs_jobquestion_pkey PRIMARY KEY (id);


--
-- Name: jobs_notificationlog jobs_notificationlog_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jobs_notificationlog
    ADD CONSTRAINT jobs_notificationlog_pkey PRIMARY KEY (id);


--
-- Name: jobs_paymenttransaction jobs_paymenttransaction_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jobs_paymenttransaction
    ADD CONSTRAINT jobs_paymenttransaction_pkey PRIMARY KEY (id);


--
-- Name: jobs_paymenttransaction jobs_paymenttransaction_transaction_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jobs_paymenttransaction
    ADD CONSTRAINT jobs_paymenttransaction_transaction_id_key UNIQUE (transaction_id);


--
-- Name: jobs_questiontemplate jobs_questiontemplate_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jobs_questiontemplate
    ADD CONSTRAINT jobs_questiontemplate_pkey PRIMARY KEY (id);


--
-- Name: jobs_refundlog jobs_refundlog_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jobs_refundlog
    ADD CONSTRAINT jobs_refundlog_pkey PRIMARY KEY (id);


--
-- Name: jobs_reminderlog jobs_reminderlog_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jobs_reminderlog
    ADD CONSTRAINT jobs_reminderlog_pkey PRIMARY KEY (id);


--
-- Name: jobs_savedjob jobs_savedjob_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jobs_savedjob
    ADD CONSTRAINT jobs_savedjob_pkey PRIMARY KEY (id);


--
-- Name: jobs_subscription jobs_subscription_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jobs_subscription
    ADD CONSTRAINT jobs_subscription_pkey PRIMARY KEY (id);


--
-- Name: payments_payment payments_payment_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.payments_payment
    ADD CONSTRAINT payments_payment_pkey PRIMARY KEY (id);


--
-- Name: subscriptions_billinghistory subscriptions_billinghistory_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.subscriptions_billinghistory
    ADD CONSTRAINT subscriptions_billinghistory_pkey PRIMARY KEY (id);


--
-- Name: subscriptions_paymenttransaction subscriptions_paymenttransaction_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.subscriptions_paymenttransaction
    ADD CONSTRAINT subscriptions_paymenttransaction_pkey PRIMARY KEY (id);


--
-- Name: subscriptions_subscriptionplan subscriptions_subscriptionplan_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.subscriptions_subscriptionplan
    ADD CONSTRAINT subscriptions_subscriptionplan_pkey PRIMARY KEY (id);


--
-- Name: subscriptions_usersubscription subscriptions_usersubscription_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.subscriptions_usersubscription
    ADD CONSTRAINT subscriptions_usersubscription_pkey PRIMARY KEY (id);


--
-- Name: accounts_resume_user_id_1e5b6ef0; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX accounts_resume_user_id_1e5b6ef0 ON public.accounts_resume USING btree (user_id);


--
-- Name: accounts_user_email_b2644a56_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX accounts_user_email_b2644a56_like ON public.accounts_user USING btree (email varchar_pattern_ops);


--
-- Name: accounts_user_groups_group_id_bd11a704; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX accounts_user_groups_group_id_bd11a704 ON public.accounts_user_groups USING btree (group_id);


--
-- Name: accounts_user_groups_user_id_52b62117; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX accounts_user_groups_user_id_52b62117 ON public.accounts_user_groups USING btree (user_id);


--
-- Name: accounts_user_user_permissions_permission_id_113bb443; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX accounts_user_user_permissions_permission_id_113bb443 ON public.accounts_user_user_permissions USING btree (permission_id);


--
-- Name: accounts_user_user_permissions_user_id_e4f0a161; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX accounts_user_user_permissions_user_id_e4f0a161 ON public.accounts_user_user_permissions USING btree (user_id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: jobs_aianswer_question_id_d197bc5a; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX jobs_aianswer_question_id_d197bc5a ON public.jobs_aianswer USING btree (question_id);


--
-- Name: jobs_aicall_candidate_id_c6a63e61; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX jobs_aicall_candidate_id_c6a63e61 ON public.jobs_aicall USING btree (candidate_id);


--
-- Name: jobs_aicall_job_id_912432c4; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX jobs_aicall_job_id_912432c4 ON public.jobs_aicall USING btree (job_id);


--
-- Name: jobs_aiinterviewsession_candidate_id_8d3d812b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX jobs_aiinterviewsession_candidate_id_8d3d812b ON public.jobs_aiinterviewsession USING btree (candidate_id);


--
-- Name: jobs_aiinterviewsession_job_id_f63cc086; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX jobs_aiinterviewsession_job_id_f63cc086 ON public.jobs_aiinterviewsession USING btree (job_id);


--
-- Name: jobs_aiquestion_session_id_6ceddfeb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX jobs_aiquestion_session_id_6ceddfeb ON public.jobs_aiquestion USING btree (session_id);


--
-- Name: jobs_application_candidate_id_4a66020b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX jobs_application_candidate_id_4a66020b ON public.jobs_application USING btree (candidate_id);


--
-- Name: jobs_application_job_id_7bb7e966; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX jobs_application_job_id_7bb7e966 ON public.jobs_application USING btree (job_id);


--
-- Name: jobs_atsscore_candidate_id_64d8a617; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX jobs_atsscore_candidate_id_64d8a617 ON public.jobs_atsscore USING btree (candidate_id);


--
-- Name: jobs_atsscore_job_id_a9e9d24c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX jobs_atsscore_job_id_a9e9d24c ON public.jobs_atsscore USING btree (job_id);


--
-- Name: jobs_auditlog_admin_id_8bbff9be; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX jobs_auditlog_admin_id_8bbff9be ON public.jobs_auditlog USING btree (admin_id);


--
-- Name: jobs_auditlog_target_user_id_1b02b5af; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX jobs_auditlog_target_user_id_1b02b5af ON public.jobs_auditlog USING btree (target_user_id);


--
-- Name: jobs_availabilityslot_employer_id_b0d9c171; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX jobs_availabilityslot_employer_id_b0d9c171 ON public.jobs_availabilityslot USING btree (employer_id);


--
-- Name: jobs_calllog_candidate_id_9a31fdab; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX jobs_calllog_candidate_id_9a31fdab ON public.jobs_calllog USING btree (candidate_id);


--
-- Name: jobs_calllog_job_id_c3dd42f3; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX jobs_calllog_job_id_c3dd42f3 ON public.jobs_calllog USING btree (job_id);


--
-- Name: jobs_calllog_triggered_by_id_6df0210f; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX jobs_calllog_triggered_by_id_6df0210f ON public.jobs_calllog USING btree (triggered_by_id);


--
-- Name: jobs_evaluationresult_answer_id_799ff875; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX jobs_evaluationresult_answer_id_799ff875 ON public.jobs_evaluationresult USING btree (answer_id);


--
-- Name: jobs_interviewanswer_candidate_id_12ef4580; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX jobs_interviewanswer_candidate_id_12ef4580 ON public.jobs_interviewanswer USING btree (candidate_id);


--
-- Name: jobs_interviewschedule_candidate_id_fe582c65; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX jobs_interviewschedule_candidate_id_fe582c65 ON public.jobs_interviewschedule USING btree (candidate_id);


--
-- Name: jobs_interviewschedule_job_id_310375a1; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX jobs_interviewschedule_job_id_310375a1 ON public.jobs_interviewschedule USING btree (job_id);


--
-- Name: jobs_interviewstate_session_id_a50938af; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX jobs_interviewstate_session_id_a50938af ON public.jobs_interviewstate USING btree (session_id);


--
-- Name: jobs_job_employer_id_b5c64567; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX jobs_job_employer_id_b5c64567 ON public.jobs_job USING btree (employer_id);


--
-- Name: jobs_job_location_93ef66ee; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX jobs_job_location_93ef66ee ON public.jobs_job USING btree (location);


--
-- Name: jobs_job_location_93ef66ee_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX jobs_job_location_93ef66ee_like ON public.jobs_job USING btree (location varchar_pattern_ops);


--
-- Name: jobs_job_skills_8925748e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX jobs_job_skills_8925748e ON public.jobs_job USING btree (skills);


--
-- Name: jobs_job_skills_8925748e_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX jobs_job_skills_8925748e_like ON public.jobs_job USING btree (skills varchar_pattern_ops);


--
-- Name: jobs_job_title_66086409; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX jobs_job_title_66086409 ON public.jobs_job USING btree (title);


--
-- Name: jobs_job_title_66086409_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX jobs_job_title_66086409_like ON public.jobs_job USING btree (title varchar_pattern_ops);


--
-- Name: jobs_jobquestion_job_id_e1c8b12b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX jobs_jobquestion_job_id_e1c8b12b ON public.jobs_jobquestion USING btree (job_id);


--
-- Name: jobs_jobquestion_question_id_dbb029d3; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX jobs_jobquestion_question_id_dbb029d3 ON public.jobs_jobquestion USING btree (question_id);


--
-- Name: jobs_notificationlog_user_id_f3abfa13; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX jobs_notificationlog_user_id_f3abfa13 ON public.jobs_notificationlog USING btree (user_id);


--
-- Name: jobs_paymenttransaction_transaction_id_6b78ad2d_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX jobs_paymenttransaction_transaction_id_6b78ad2d_like ON public.jobs_paymenttransaction USING btree (transaction_id varchar_pattern_ops);


--
-- Name: jobs_paymenttransaction_user_id_7136cc69; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX jobs_paymenttransaction_user_id_7136cc69 ON public.jobs_paymenttransaction USING btree (user_id);


--
-- Name: jobs_refundlog_transaction_id_d90dccab; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX jobs_refundlog_transaction_id_d90dccab ON public.jobs_refundlog USING btree (transaction_id);


--
-- Name: jobs_reminderlog_schedule_id_ba3e5083; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX jobs_reminderlog_schedule_id_ba3e5083 ON public.jobs_reminderlog USING btree (schedule_id);


--
-- Name: jobs_savedjob_candidate_id_e72ab097; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX jobs_savedjob_candidate_id_e72ab097 ON public.jobs_savedjob USING btree (candidate_id);


--
-- Name: jobs_savedjob_job_id_e069c6bf; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX jobs_savedjob_job_id_e069c6bf ON public.jobs_savedjob USING btree (job_id);


--
-- Name: jobs_subscription_user_id_6bd95100; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX jobs_subscription_user_id_6bd95100 ON public.jobs_subscription USING btree (user_id);


--
-- Name: subscriptions_billinghistory_user_id_339db8aa; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX subscriptions_billinghistory_user_id_339db8aa ON public.subscriptions_billinghistory USING btree (user_id);


--
-- Name: subscriptions_paymenttransaction_user_id_931e323d; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX subscriptions_paymenttransaction_user_id_931e323d ON public.subscriptions_paymenttransaction USING btree (user_id);


--
-- Name: subscriptions_usersubscription_plan_id_553a4857; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX subscriptions_usersubscription_plan_id_553a4857 ON public.subscriptions_usersubscription USING btree (plan_id);


--
-- Name: subscriptions_usersubscription_user_id_fd3f47a9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX subscriptions_usersubscription_user_id_fd3f47a9 ON public.subscriptions_usersubscription USING btree (user_id);


--
-- Name: accounts_candidateprofile accounts_candidateprofile_user_id_ecd76603_fk_accounts_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts_candidateprofile
    ADD CONSTRAINT accounts_candidateprofile_user_id_ecd76603_fk_accounts_user_id FOREIGN KEY (user_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: accounts_employerprofile accounts_employerprofile_user_id_90741f2a_fk_accounts_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts_employerprofile
    ADD CONSTRAINT accounts_employerprofile_user_id_90741f2a_fk_accounts_user_id FOREIGN KEY (user_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: accounts_resume accounts_resume_user_id_1e5b6ef0_fk_accounts_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts_resume
    ADD CONSTRAINT accounts_resume_user_id_1e5b6ef0_fk_accounts_user_id FOREIGN KEY (user_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: accounts_user_groups accounts_user_groups_group_id_bd11a704_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts_user_groups
    ADD CONSTRAINT accounts_user_groups_group_id_bd11a704_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: accounts_user_groups accounts_user_groups_user_id_52b62117_fk_accounts_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts_user_groups
    ADD CONSTRAINT accounts_user_groups_user_id_52b62117_fk_accounts_user_id FOREIGN KEY (user_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: accounts_user_user_permissions accounts_user_user_p_permission_id_113bb443_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts_user_user_permissions
    ADD CONSTRAINT accounts_user_user_p_permission_id_113bb443_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: accounts_user_user_permissions accounts_user_user_p_user_id_e4f0a161_fk_accounts_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts_user_user_permissions
    ADD CONSTRAINT accounts_user_user_p_user_id_e4f0a161_fk_accounts_ FOREIGN KEY (user_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_accounts_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_accounts_user_id FOREIGN KEY (user_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: jobs_aianswer jobs_aianswer_question_id_d197bc5a_fk_jobs_aiquestion_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jobs_aianswer
    ADD CONSTRAINT jobs_aianswer_question_id_d197bc5a_fk_jobs_aiquestion_id FOREIGN KEY (question_id) REFERENCES public.jobs_aiquestion(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: jobs_aicall jobs_aicall_candidate_id_c6a63e61_fk_accounts_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jobs_aicall
    ADD CONSTRAINT jobs_aicall_candidate_id_c6a63e61_fk_accounts_user_id FOREIGN KEY (candidate_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: jobs_aicall jobs_aicall_job_id_912432c4_fk_jobs_job_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jobs_aicall
    ADD CONSTRAINT jobs_aicall_job_id_912432c4_fk_jobs_job_id FOREIGN KEY (job_id) REFERENCES public.jobs_job(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: jobs_aiinterviewsession jobs_aiinterviewsess_candidate_id_8d3d812b_fk_accounts_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jobs_aiinterviewsession
    ADD CONSTRAINT jobs_aiinterviewsess_candidate_id_8d3d812b_fk_accounts_ FOREIGN KEY (candidate_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: jobs_aiinterviewsession jobs_aiinterviewsession_job_id_f63cc086_fk_jobs_job_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jobs_aiinterviewsession
    ADD CONSTRAINT jobs_aiinterviewsession_job_id_f63cc086_fk_jobs_job_id FOREIGN KEY (job_id) REFERENCES public.jobs_job(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: jobs_aiquestion jobs_aiquestion_session_id_6ceddfeb_fk_jobs_aiin; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jobs_aiquestion
    ADD CONSTRAINT jobs_aiquestion_session_id_6ceddfeb_fk_jobs_aiin FOREIGN KEY (session_id) REFERENCES public.jobs_aiinterviewsession(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: jobs_application jobs_application_candidate_id_4a66020b_fk_accounts_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jobs_application
    ADD CONSTRAINT jobs_application_candidate_id_4a66020b_fk_accounts_user_id FOREIGN KEY (candidate_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: jobs_application jobs_application_job_id_7bb7e966_fk_jobs_job_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jobs_application
    ADD CONSTRAINT jobs_application_job_id_7bb7e966_fk_jobs_job_id FOREIGN KEY (job_id) REFERENCES public.jobs_job(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: jobs_atsscore jobs_atsscore_candidate_id_64d8a617_fk_accounts_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jobs_atsscore
    ADD CONSTRAINT jobs_atsscore_candidate_id_64d8a617_fk_accounts_user_id FOREIGN KEY (candidate_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: jobs_atsscore jobs_atsscore_job_id_a9e9d24c_fk_jobs_job_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jobs_atsscore
    ADD CONSTRAINT jobs_atsscore_job_id_a9e9d24c_fk_jobs_job_id FOREIGN KEY (job_id) REFERENCES public.jobs_job(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: jobs_auditlog jobs_auditlog_admin_id_8bbff9be_fk_accounts_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jobs_auditlog
    ADD CONSTRAINT jobs_auditlog_admin_id_8bbff9be_fk_accounts_user_id FOREIGN KEY (admin_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: jobs_auditlog jobs_auditlog_target_user_id_1b02b5af_fk_accounts_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jobs_auditlog
    ADD CONSTRAINT jobs_auditlog_target_user_id_1b02b5af_fk_accounts_user_id FOREIGN KEY (target_user_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: jobs_availabilityslot jobs_availabilityslot_employer_id_b0d9c171_fk_accounts_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jobs_availabilityslot
    ADD CONSTRAINT jobs_availabilityslot_employer_id_b0d9c171_fk_accounts_user_id FOREIGN KEY (employer_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: jobs_calllog jobs_calllog_candidate_id_9a31fdab_fk_accounts_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jobs_calllog
    ADD CONSTRAINT jobs_calllog_candidate_id_9a31fdab_fk_accounts_user_id FOREIGN KEY (candidate_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: jobs_calllog jobs_calllog_job_id_c3dd42f3_fk_jobs_job_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jobs_calllog
    ADD CONSTRAINT jobs_calllog_job_id_c3dd42f3_fk_jobs_job_id FOREIGN KEY (job_id) REFERENCES public.jobs_job(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: jobs_calllog jobs_calllog_triggered_by_id_6df0210f_fk_accounts_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jobs_calllog
    ADD CONSTRAINT jobs_calllog_triggered_by_id_6df0210f_fk_accounts_user_id FOREIGN KEY (triggered_by_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: jobs_evaluationresult jobs_evaluationresul_answer_id_799ff875_fk_jobs_inte; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jobs_evaluationresult
    ADD CONSTRAINT jobs_evaluationresul_answer_id_799ff875_fk_jobs_inte FOREIGN KEY (answer_id) REFERENCES public.jobs_interviewanswer(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: jobs_interviewanswer jobs_interviewanswer_candidate_id_12ef4580_fk_accounts_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jobs_interviewanswer
    ADD CONSTRAINT jobs_interviewanswer_candidate_id_12ef4580_fk_accounts_user_id FOREIGN KEY (candidate_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: jobs_interviewschedule jobs_interviewschedu_candidate_id_fe582c65_fk_accounts_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jobs_interviewschedule
    ADD CONSTRAINT jobs_interviewschedu_candidate_id_fe582c65_fk_accounts_ FOREIGN KEY (candidate_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: jobs_interviewschedule jobs_interviewschedule_job_id_310375a1_fk_jobs_job_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jobs_interviewschedule
    ADD CONSTRAINT jobs_interviewschedule_job_id_310375a1_fk_jobs_job_id FOREIGN KEY (job_id) REFERENCES public.jobs_job(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: jobs_interviewstate jobs_interviewstate_session_id_a50938af_fk_jobs_aiin; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jobs_interviewstate
    ADD CONSTRAINT jobs_interviewstate_session_id_a50938af_fk_jobs_aiin FOREIGN KEY (session_id) REFERENCES public.jobs_aiinterviewsession(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: jobs_job jobs_job_employer_id_b5c64567_fk_accounts_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jobs_job
    ADD CONSTRAINT jobs_job_employer_id_b5c64567_fk_accounts_user_id FOREIGN KEY (employer_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: jobs_jobquestion jobs_jobquestion_job_id_e1c8b12b_fk_jobs_job_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jobs_jobquestion
    ADD CONSTRAINT jobs_jobquestion_job_id_e1c8b12b_fk_jobs_job_id FOREIGN KEY (job_id) REFERENCES public.jobs_job(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: jobs_jobquestion jobs_jobquestion_question_id_dbb029d3_fk_jobs_ques; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jobs_jobquestion
    ADD CONSTRAINT jobs_jobquestion_question_id_dbb029d3_fk_jobs_ques FOREIGN KEY (question_id) REFERENCES public.jobs_questiontemplate(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: jobs_notificationlog jobs_notificationlog_user_id_f3abfa13_fk_accounts_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jobs_notificationlog
    ADD CONSTRAINT jobs_notificationlog_user_id_f3abfa13_fk_accounts_user_id FOREIGN KEY (user_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: jobs_paymenttransaction jobs_paymenttransaction_user_id_7136cc69_fk_accounts_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jobs_paymenttransaction
    ADD CONSTRAINT jobs_paymenttransaction_user_id_7136cc69_fk_accounts_user_id FOREIGN KEY (user_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: jobs_refundlog jobs_refundlog_transaction_id_d90dccab_fk_jobs_paym; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jobs_refundlog
    ADD CONSTRAINT jobs_refundlog_transaction_id_d90dccab_fk_jobs_paym FOREIGN KEY (transaction_id) REFERENCES public.jobs_paymenttransaction(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: jobs_reminderlog jobs_reminderlog_schedule_id_ba3e5083_fk_jobs_inte; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jobs_reminderlog
    ADD CONSTRAINT jobs_reminderlog_schedule_id_ba3e5083_fk_jobs_inte FOREIGN KEY (schedule_id) REFERENCES public.jobs_interviewschedule(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: jobs_savedjob jobs_savedjob_candidate_id_e72ab097_fk_accounts_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jobs_savedjob
    ADD CONSTRAINT jobs_savedjob_candidate_id_e72ab097_fk_accounts_user_id FOREIGN KEY (candidate_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: jobs_savedjob jobs_savedjob_job_id_e069c6bf_fk_jobs_job_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jobs_savedjob
    ADD CONSTRAINT jobs_savedjob_job_id_e069c6bf_fk_jobs_job_id FOREIGN KEY (job_id) REFERENCES public.jobs_job(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: jobs_subscription jobs_subscription_user_id_6bd95100_fk_accounts_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jobs_subscription
    ADD CONSTRAINT jobs_subscription_user_id_6bd95100_fk_accounts_user_id FOREIGN KEY (user_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: subscriptions_billinghistory subscriptions_billin_user_id_339db8aa_fk_accounts_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.subscriptions_billinghistory
    ADD CONSTRAINT subscriptions_billin_user_id_339db8aa_fk_accounts_ FOREIGN KEY (user_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: subscriptions_paymenttransaction subscriptions_paymen_user_id_931e323d_fk_accounts_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.subscriptions_paymenttransaction
    ADD CONSTRAINT subscriptions_paymen_user_id_931e323d_fk_accounts_ FOREIGN KEY (user_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: subscriptions_usersubscription subscriptions_usersu_plan_id_553a4857_fk_subscript; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.subscriptions_usersubscription
    ADD CONSTRAINT subscriptions_usersu_plan_id_553a4857_fk_subscript FOREIGN KEY (plan_id) REFERENCES public.subscriptions_subscriptionplan(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: subscriptions_usersubscription subscriptions_usersu_user_id_fd3f47a9_fk_accounts_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.subscriptions_usersubscription
    ADD CONSTRAINT subscriptions_usersu_user_id_fd3f47a9_fk_accounts_ FOREIGN KEY (user_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

